[submodule "jni/selinux"]
	path = external/selinux
	url = https://github.com/topjohnwu/selinux.git
[submodule "jni/su"]
	path = su
	url = https://github.com/topjohnwu/MagiskSU.git
[submodule "jni/ndk-compression"]
	path = external/ndk-compression
	url = https://github.com/topjohnwu/ndk-compression.git
[submodule "jni/magiskpolicy"]
	path = magiskpolicy
	url = https://github.com/topjohnwu/magiskpolicy.git
[submodule "jni/busybox"]
	path = external/busybox
	url = https://github.com/topjohnwu/ndk-busybox.git
[submodule "jni/external/dtc"]
	path = external/dtc
	url = https://github.com/dgibson/dtc
